@font-face{
    font-family: ACBlack;
    src:url(../fonts/AdobeClean-Black.otf)
}
@font-face{
    font-family: ACBlackLit;
    src:url(../fonts/AdobeClean-BlackIt.otf)
}

@font-face{
    font-family: ACBoldCond;
    src:url(../fonts/AdobeClean-BoldCond.otf)
}
@font-face{
    font-family: ACBoldCondIt;
    src:url(../fonts/AdobeClean-BoldCondIt.otf)
}
@font-face{
    font-family: ACBoldSemiCn;
    src:url(../fonts/AdobeClean-BoldSemiCn.otf)
}

@font-face{
    font-family: ACSemiLight;
    src:url(../fonts/AdobeClean-SemiLight.otf)
}
@font-face{
    font-family: ACLight;
    src:url(../fonts/AdobeClean-Light.otf)
}