@import './fonts.scss';
$espii-primary-color:#F44336;
$espii-secondary-color:#30D975;
$espii-tetiary-color:#DF7B74;
$espii-base-color:whitesmoke;
$espii-accent-color:#1A78D9;
$espii-taste-color:#e2e22c;


html{
    background-image:url(../img/ws382.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    width: 95vw;
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 0;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    outline:none;
    margin:0;

}
.markdown-body{
    display: none;
}
body{
    background:transparent;
    height: 95vh;
    width: 95vw;
    padding-left: 5vw;
}
body, es-carousel{
    overflow: hidden;
}
@media only Screen and (max-width:850px){
    body{
    }
    es-sidebar{
        position:absolute;

    }
    es-logo{
    }

}
